/* .container {

}
.container .item {
    width: 200px;
    height: 100px;
    background-color: tomato;
    margin-bottom: 20px;
    padding: 20px;
    border: 4px dotted blue;
    box-sizing: border-box;
}
.container .item:nth-child(2){
    box-shadow: 10px 20px 10px rgb(0,0,0,.3);
}
.container .item:nth-child(3){
    opacity: 0.5;
} */

/* .container .item{
    color: yellowgreen;
    border: 2px solid black;
    line-height: 2;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
.container .item:nth-child(2){
    font-weight: bold;
    text-decoration: underline;
} */

/* https://heropy.blog/css/images/logo.png */

/* .container .item{
    width: 200px;
    height: 100px;
    background-color: orange;
    margin: 10px;
    background-image: url("https://heropy.blog/css/images/logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: bottom left;
} */

/* .container{
    width: 400px;
    height: 250px;
    margin: 50px;
    padding: 20px;
    background-color: orange;
    box-sizing: border-box;
    position: relative;
}
.container .item{
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.container .item:nth-child(1){
    position: absolute;
    left: 40px;
    bottom: 100px;
}
.container .item:nth-child(2){
    position: absolute;
    top: 20px;
    right: 100px;
} */

/* .container {
    background-color: orange;
    display: flex;
    justify-content: center;
}
.container .item{
    width: 100px;
    height: 100px;
    background-color: royalblue;   
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .container .item{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}
.container .item:nth-child(1):hover{
    width: 200px;
    background-color: orange;
}
.container .item:nth-child(2){
    transform: rotate(45deg) scale(.5);
}
.container .item:nth-child(3){
    transform: perspective(300px) rotateX(45deg);
} */
